#header {
    margin-left: 200px;
    margin-top: 50px;
}

.header-todo,
#input-task {
    font-family: "omnes-arabic", sans-serif;
    font-weight: 400;
}

#input-task {
    font-size: 14px;
    margin-left: 50px;
}

#list {
    margin-left: 200px;
    margin-top: 40px;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-family: "omnes-arabic", sans-serif;
    font-weight: 400;
    list-style-type: none;
    font-size: 18px;
    background-color: rgb(245, 245, 245);
    width: fit-content;
}

li {
    padding: 10px 150px 10px 20px;
}

li:hover {
    background-color: rgb(231, 231, 231);
}
